.flottform-root {
	border: 1px solid gray;
	border-radius: 0px 0px 10px 10px;
	position: absolute;
	right: 0;
	padding: 10px 8px;
	display: grid;
	gap: 1rem;
	background: white;
	width: 300px;
}
.flottform-button {
	padding: 4px 8px;
	background: blue;
	border-radius: 10px;
	color: white;
}
.flottform-qr-code {
	width: 150px;
}
.flottform-link-offer {
	width: 300px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
